*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }

  .background {
    background: url("https://images.unsplash.com/photo-1556745757-8d76bdb6984b")
      no-repeat center center/cover;
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    z-index: -1;
    filter: blur(20px);
  }
  .container {
    width: 350px;
    background-color: white;
    padding: 2rem;
    border-radius: 1.7%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  p {
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
  }
  h2 {
    text-align: center;
    font-size: 24px;
  }
  input {
    padding: 0.9rem;
    width: 100%;
    border: 1px solid lightslategray;
  }
  .form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 0.7rem;
  }
  .btn {
    padding: 0.67rem;
    background-color: black;
    color: white;
    width: 100%;
    cursor: pointer;
    border: 1px solid transparent;
  }

